<nav class="navbar navbar-dark bg-inverse">
  <%= link_to "MEI-IoT ES Blog", root_path, class: "navbar-brand" %>

  <ul class="nav navbar-nav">
    <li class="nav-item active">
    <%= link_to "About", '/about', class: "nav-link" %>
    </li>
  </ul>
  <form class="form-inline float-xs-right">
    <input class="form-control" type="text" placeholder="Search">
    <button class="btn btn-outline-secondary" type="submit">Search</button>
  </form>
</nav>

